/*
* Filename: 	 transformations.html
* Description: Basic CSS3 Transformations
* Author:      Luke Sathrum
*/

div {
  background-color: darkslateblue;
  width: 100px;
  height: 100px;
  margin-bottom: 2em;
  transition: all 1s;
}

#one:hover {
  transform: translate(50px, -10px);
}

#two:hover {
  transform: scale(1.2, 0.5);
}

#three:hover {
  transform: rotate(45deg);
}